<!--Registration Page Starts-->
<section id="regestration">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body register-img">
              <div class="row m-0">
                <div class="col-lg-12 col-md-12 pt-3 px-4 bg-white">
                  <h4 class="card-title mb-2 text-center">Create Account</h4>
                  <p class="card-text mb-3">
                    Fill the below form to create a new account.
                  </p>
                  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                        required />
                      <small class="form-text text-muted danger"
                        *ngIf="!registerForm.get('firstName').valid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">Please
                        enter First Name</small>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                        required />
                      <small class="form-text text-muted danger"
                        *ngIf="!registerForm.get('lastName').valid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">Please
                        enter Last Name</small>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email" required />
                      <small class="form-text text-muted danger"
                        *ngIf="email.invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <div *ngIf="email.errors?.required">
                          Please enter Email.
                        </div>
                        <div *ngIf="email.errors?.pattern">
                          Please enter a valid email.
                        </div>
                        <div *ngIf="email.errors?.emailExist">
                          Oops..!! Email Already Taken.
                        </div>
                      </small>
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" placeholder="Mobile Number" formControlName="phoneNumber"
                        required />
                      <small class="form-text text-muted danger"
                        *ngIf="phoneNumber.invalid && (registerForm.get('phoneNumber').dirty || registerForm.get('phoneNumber').touched)">
                        <div *ngIf="phoneNumber.errors?.required">
                          Please enter Mobile Number.
                        </div>
                        <div *ngIf="phoneNumber.errors?.pattern">
                          Please enter a valid Mobile Number.
                        </div>
                        <div *ngIf="phoneNumber.errors?.phoneNumberExist">
                          Oops..!! Mobile Number Already Taken.
                        </div>
                      </small>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        required />
                      <small class="form-text text-muted danger"
                        *ngIf="!registerForm.get('password').valid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <div *ngIf="password.errors?.required">
                          Please enter Passsword.
                        </div>
                        <div *ngIf="password.errors?.minlength">
                          Password should be more than 4 characters.
                        </div>
                      </small>
                    </div>
                    <div class="fg-actions d-flex justify-content-between">
                      <div class="login-btn">
                        <a class="text-decoration-none" [routerLink]="['/ng/pages/login']">
                          <button class="btn btn-outline-primary">
                            Back To Login
                          </button>
                        </a>
                      </div>
                      <div class="recover-pass">
                        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">
                          Register
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->
<ngx-loading [show]="loading"></ngx-loading>